

  body {
    background-color: rgb(231, 215, 206);
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    height: auto;
  }

  h1 {
    color: rgb(49, 28, 18); 
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px; 
    font-weight: bold;
    letter-spacing: 10px;
    position: absolute; 
    top: 13%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    white-space: nowrap;
  }

 
  .icon-container {
    position: absolute;
    top: 20px;
    right: 100px;
  }
  
  .material-icons-outlined {
    font-size: 24px;
    margin-left: 10px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid black;
    margin-top: 250px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  li {
    margin-right: 140px;
  }

  a {
    text-decoration: none;
    letter-spacing: 3px;
    color: #1E391C;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  
  .image-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 50vh; 
  }
  
  
  .top-image, .bottom-image {
    flex-grow: 1; 
    object-fit: cover; 
    height: 320px;
  }
  
  .top-image {
    margin-bottom: 10px; 
  }
 
 
  

