

  body {
    background-color: rgb(231, 215, 206);
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    height: auto;
  }

  h1 {
    color: rgb(49, 28, 18); 
    font-family: 'Montserrat', sans-serif; 
    font-size: 4vw; 
    font-weight: bold;
    letter-spacing: 10px;
    position: absolute; 
    top: 13%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    white-space: nowrap;
  }


  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid black;
    margin-top: 235px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%
  }

  li {
    margin-right: 7vw;
  }

  a {
    text-decoration: none;
    letter-spacing: 3px;
    color: #1E391C;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }



.slideshow-container {
  max-width: 1700px;
  width: 100%; 
  margin: auto;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.image-container {
  max-width: 1700px;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 7px; 
}

.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  letter-spacing: 3px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

  